@{
}
<div class="exp-top">
    <p>
        <a href="/Account/Users">Управління користувачами</a> -
        <a href="/Experimental/Files">Управління файлами</a> -
        <a href="/Account/ChangePassword">Змінити пароль</a> -
        <a href="/Experimental/Notation">Нотація</a> -
        <a href="/Experimental/Widi">Widi</a> -
        <a href="/Experimental/Tone">Tone</a>
    </p>
</div>