@*
    /*Панель вибору тривалостей для вводу мелодій*/
*@
@{
}
<div id="durationspanel" class="pianodisplay notesinfo">
    <button class="durationbutton durbtn">
        <img src="~/images/whole_note.png" alt="Whole Note" />
    </button>
    <button class="durationbutton durbtn">
        <img src="~/images/half_note.png" alt="Half Note" />
    </button>
    <button class="durationbutton durbtn">
        <img src="~/images/quarter_note.png" alt="Quarter Note" />
    </button>
    <button class="durationbutton durbtn">
        <img src="~/images/eighth_note.png" alt="Eighth Note" />
    </button>
    <button class="durationbutton durbtn">
        <img src="~/images/sixteenth_note.png" alt="Sixteenth Note" />
    </button>
    <button class="durationbutton durbtn">
        <img src="~/images/32nd_note.png" alt="Thirty-Second Note" />
    </button>
    <button id="dotbutton" class="durbtn">
        <p>.</p>
    </button>
    <button id="pausebutton" class="durbtn" style="width:80px">
        <p><i>/pause/</i></p>
    </button>
    <script src="~/js/switchDurations.js"></script>
</div>