<div class="context-menu">
    <ul>
        <li id="option1">1/2 тона вгору     ↑</li>
        <li id="option2">1/2 тона вниз      ↓</li>
        <li id="option3">вилучити          del</li>
        <li id="option4">довша тривалість   +</li>
        <li id="option5">коротша тривалість -</li>
        
    </ul>
</div>