<configuration>
	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />		
	</packageSources>
	<packageSourceMapping>
		<packageSource key="nuget.org">
			<package pattern="Microsoft.*" />
			<package pattern="runtime.*" />
		</packageSource>
		<packageSource key="dotnet-tools">
			<package pattern="dotnet-ef" />
		</packageSource>
	</packageSourceMapping>
</configuration>
