@page
@model Melodies25.Pages.Account.RecoverPasswordModel
@{
}

<h2>Відновлення пароля</h2>

@if (TempData["PwdResetMsg"] != null)
{
    <div class="alert alert-success">@TempData["PwdResetMsg"]</div>
}

<div asp-validation-summary="All" class="text-danger"></div>

<form method="post">
    <div class="form-group">
        <label for="Input_Email">Введіть вашу електронну пошту</label>
        <input asp-for="Email" class="form-control" id="Input_Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Нагадати пароль</button>
</form>

<partial name="_ValidationScriptsPartial" />
