@page
@model Melodies25.Pages.Melodies.CreateModel

@{
    ViewData["Title"] = "Додати мелодію";
}

<h1>Додати</h1>

<h4>Завантажити MIDI файл</h4>
<hr />

@if (ViewData["Message"] != null)
{
    <div class="alert alert-info">
        @ViewData["Message"]
    </div>
}

<form method="post" enctype="multipart/form-data">
    <div class="form-group">        
        <div class="input-group">
            <input type="file" id="melodyFileInput" name="fileupload" class="form-control" accept=".mid" />
        </div>        
    </div>

    <select asp-for="Melody.Tonality" class="form-control mt-2" asp-items="ViewBag.Tonalities">
        <option value="">-- Тональність, в якій завантажено MIDI --</option>
    </select>
    <span asp-validation-for="Melody.Tonality" class="text-danger"></span>

    <div class="form-group">
        <label asp-for="Melody.Title" class="control-label" id="title">Назва</label>
        <input asp-for="Melody.Title" class="form-control" />
        <span asp-validation-for="Melody.Title" class="text-danger"></span>
    </div>
    <p id="warning"></p>
    <div class="form-group">
        <label asp-for="Melody.Year" class="control-label">Рік</label>
        <input asp-for="Melody.Year" class="form-control" />
        <span asp-validation-for="Melody.Year" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Melody.Description" class="control-label">Примітки</label>
        <input asp-for="Melody.Description" class="form-control" />
        <span asp-validation-for="Melody.Description" class="text-danger"></span>
    </div>
    
        <div class="form-group">
            <label asp-for="Melody.AuthorID" id="selectAuthorLabel" class="control-label">Автор</label>
        <select id="selectAuthor" asp-for="Melody.AuthorID" class="form-control" asp-items="ViewBag.AuthorID">                      
        </select>
    </div>
    
    <div id="submitMelodyBtn" class="form-group">
        <input type="submit" value="Створити" class="btn btn-primary btn-outline-dark bg-light">
    </div>
</form>

<form method="post">
    <div class="form-group">
        <button id="createAuthorBtn" asp-page-handler="addform" value="Додати автора" class="btn btn-primary btn-outline-dark bg-light">Додати автора</button>
    </div>
    @if(Model.ShowAuthor)
    {
        <div class="form-group mt-3">
            <label asp-for="TempAuthor" class="control-label">Автор</label>
            <input type="text" id="inputAuthor" asp-for="TempAuthor" class="form-control" placeholder="Додайте ім'я та прізвище"/>
        </div>
        <p id="authorWarning"></p>
        <div class="form-group mt-3">            
            <button type="submit" value="Додати автора" class="btn btn-primary btn-outline-dark bg-light">Додати</button>
            
        </div>        
    }   
</form>
<a asp-page="Index" class="btn btn-primary btn-outline-dark bg-light mt-3">Назад до списку</a>




@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/duplicate.js"></script>
    <script src="~/js/newAuthor.js"></script>
}


