@page
@model Melodies25.Pages.Melodies.EditModel

@{
    ViewData["Title"] = "Мелодія - Редагування";
}

<h1>Редагування</h1>

<h4>Мелодія</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Melody.ID" />

            @if (Model.Melody.Filepath is null)
            {
                <div class="form-group">
                    <div class="input-group">
                        <input type="file" id="melodyFileInput" name="fileupload" class="form-control" accept=".mid" />
                    </div>
                </div>
            }
            else
            {
                <p>Поточний файл - @Model.Melody.Filepath</p>

                <button type="submit" class="btn btn-danger" asp-page-handler="DeleteFile">
                    Видалити файл
                </button>
            }

            <div class="form-group">
                <label asp-for="Melody.Title" class="control-label">Назва</label>
                <input asp-for="Melody.Title" class="form-control" />
                <span asp-validation-for="Melody.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Melody.Year" class="control-label">Рік</label>
                <input asp-for="Melody.Year" class="form-control" />
                <span asp-validation-for="Melody.Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Melody.Description" class="control-label">Примітки</label>
                <input asp-for="Melody.Description" class="form-control" />
                <span asp-validation-for="Melody.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Melody.AuthorID" class="control-label">Автор</label>
                <select asp-for="Melody.AuthorID" class="form-control" asp-items="ViewBag.AuthorID">
                    <option value="">-- Оберіть автора --</option>
                </select>
                <span asp-validation-for="Melody.AuthorID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<div>
    <a asp-page="./Index">Назад до списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
