@page
@model Melodies25.Pages.Authors.CreateModel

@{
    ViewData["Title"] = "Додати автора";
    var SelectedMode  = @Model.SelectedMode;
}

<h1>Додати автора</h1>

<hr />
<div class="row">
    <div class="container-fluid">
        <form method="post" id="modeForm">
            <label>
                <input type="radio" asp-for="SelectedMode" value="composer" onchange="submitType()" /> Композитор
            </label>
            <label>
                <input type="radio" asp-for="SelectedMode" value="band" onchange="submitType()" /> Гурт
            </label>
            <label>
                <input type="radio" asp-for="SelectedMode" value="folk" onchange="submitType()" /> Народна пісня
            </label>            
            <script>
                           function submitType() {
                               console.log("change mode");
                    document.getElementById("modeForm").submit();
                }
            </script>
        </form>
    </div>
    <div class="col-md-4">        
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @if (@SelectedMode == "composer")
                {
                    <label asp-for="Author.Name" class="control-label">Ім'я'</label>
                    <input asp-for="Author.Name" class="form-control" />
                }
                else
                {
                    <label asp-for="Author.Name" class="control-label"><text></text></label>
                    <input asp-for="Author.Name" class="form-control" disabled />
                }                
                <span asp-validation-for="Author.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                @if (SelectedMode == "composer")
                {
                    <label asp-for="Author.Surname" class="control-label">Прізвище</label>                    

                }
                else if (@SelectedMode == "band") {
                    <label asp-for="Author.Surname" class="control-label">Назва гурту</label>
                    
                }
                else{
                    <label asp-for="Author.Surname" class="control-label">Народна пісня</label>
                    
                }
                <input id="inputAuthor" asp-for="Author.Surname" class="form-control" />
                <p id="authorWarning"></p>
                <span asp-validation-for="Author.Surname" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <label asp-for="Author.DateOfBirth" class="control-label">Рік народження</label>
                <input asp-for="Author.DateOfBirth" type="number" class="form-control" />
                <span asp-validation-for="Author.DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author.DateOfDeath" class="control-label">Рік смерті</label>
                <input asp-for="Author.DateOfDeath" type="number" class="form-control" />
                <span asp-validation-for="Author.DateOfDeath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author.CountryID" class="control-label">Країна</label>
                <select asp-for="Author.CountryID" class="form-control" asp-items="ViewBag.CountryID">
                    <option value="">-- Оберіть країну --</option>
                </select>
                <span asp-validation-for="Author.CountryID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author.Description" class="control-label">Додаткова інформація</label>
                <input asp-for="Author.Description" class="form-control" />
                <span asp-validation-for="Author.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">До списку авторів</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script src="~/js/newAuthor.js"></script>