@page
@model Melodies25.Pages.Admin.ColorsModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
}
@if (User.IsInRole("Admin"))
{
    @await Html.PartialAsync("_adminMenu")
}
<div class="infocontainer">
<partial name="_BrandPalette" />
    
</div>  