@page
@model Melodies25.Pages.Experimental.IncomingModel
@{
    var message = TempData["Message"] as string;
    var incoming = Model.IncomingMelodies;
}
<div class="infocontainer">
    @if (incoming != null && incoming.Any())
    {
        <ul>
            @foreach (var (melody, info, index, addedAt) in incoming)
            {
                <li>
                    @index <strong>@melody.Title</strong> - @info ; час додавання: @addedAt
                </li>
                <form method="post">
                    <button type="submit" asp-page-handler="Save" asp-route-id="@index" class="btn btn-melody">Save</button>
                    <button type="submit" asp-page-handler="Preview" asp-route-id="@index" class="btn btn-melody">Preview</button>
                    <button type="submit" asp-page-handler="Delete" asp-route-id="@index" class="btn btn-danger">Delete</button>
                </form>
            }
        </ul>
       
    }
    else
    {
        <p>No incoming melodies found.</p>
    }
</div>