@page
@model Melodies25.Pages.Experimental.ToneModel
@{
}
@await Html.PartialAsync("_adminMenu")

<h1>Tone.js</h1>
<p id="main"></p>

<script src="https://unpkg.com/tone@next/build/Tone.js"></script>
<script src="https://unpkg.com/vexflow/releases/vexflow-debug.js"></script>
<script src="~/js/tone.js"></script>

<div id="transpose-controls">
    <button id="octave-down" class="btn btn-primary btn-outline-dark bg-light mt-2">− </button>
    <span id="octave-display">Октава: 1</span>
    <button id="octave-up" class="btn btn-primary btn-outline-dark bg-light mt-2">+ </button>
    <label for="synthSelect">тембр:</label>
    <select id="synthSelect">
        <option value="Synth">Synth (звичайний)</option>
        <option value="AMSynth">AMSynth (амплітудна модуляція)</option>
        <option value="FMSynth">FMSynth (частотна модуляція)</option>
        <option value="DuoSynth">DuoSynth (двоосциляторний)</option>
        <option value="MonoSynth">MonoSynth (бас)</option>
        <option value="MembraneSynth">MembraneSynth (барабан)</option>
    </select>
</div>
 @await Html.PartialAsync("_pianoKeys")

