@page
@model Melodies25.Pages.Account.IndexModel
@{
}
@await Html.PartialAsync("_adminMenu")
    <h1>WebMidi.js Quick Start</h1>
    <p id="main"></p>
    <script src="https://cdn.jsdelivr.net/npm/webmidi@latest/dist/iife/webmidi.iife.js"></script><!--обробка midi-->
    <script src="~/js/widi.js"></script>