html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

a.link-light:hover{
    color: yellow !important;
}

li.active {    
    background-color: rgba(255, 255, 0, 0.4) !important;
}

.melodyitem {
    height: 110px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*смуга на горі */
.bg-sky {
    /*background: linear-gradient(90deg, rgba(100,100,255,.8), rgba(255,120,120,.8) 15%, rgba(150,150,255,.8));*/
    background: linear-gradient(90deg, rgb(255 100 100 / 80%), rgba(255, 120, 120, .8) 15%, rgb(193 143 34));
    border-bottom: 1px solid black !important;
    z-index: 1;
}



.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.btn-light {
    transition: linear 0.5s;
    z-index: 3;
}


.btn-light:hover {
    background-color: darkgray;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25); /* Збільшена тінь при наведенні */
    transform: translateY(-2px); /* Невеликий підйом кнопки */
}

html {
    position: relative;
    width: 100%;
    height: 100%;
}

body {
    margin-bottom: 60px;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    /*overflow: hidden;*/
    background: linear-gradient(rgba(245,255,200,.7), rgba(255,235,200,.5));
}


.logoimage {
    position: absolute;
    top: 10px;
    left: 20px;
    height: 100px;
}

table {
    background-color: white;
    opacity: 0.9;
    font-family: 'Times New Roman';
    font-style: normal;
    border: 1px solid black;
    
}

    table a {
        font-style: normal;
        text-decoration: none;
    }

    table a:hover{
        color:blueviolet !important; 
    }

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    font-size: 0.9em;
}

th {
    background: linear-gradient(to right, #737a20, #adb093);
    color: white;
}

table, th, td {
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}




.mainpage {
    height: 100%;
    background: 
        linear-gradient(217deg, rgba(255,100,100,.8), rgba(255,100,0,0) 70.71%), 
        linear-gradient(127deg, rgba(255,255,100,.8), rgba(255,255,0,0) 70.71%), 
        linear-gradient(336deg, rgba(100,100,255,.8), rgba(255,255,255,0) 70.71%);
    margin: 0;
}

.footer {
    position: fixed;
    bottom: 0;
    width:100%;
    background: #fef7e2;
    height: 30px;
}

.h-85{
    height: 85%;
}
/* слід ще поексперементувати...
https://webdoky.org/uk/docs/Web/CSS/gradient/linear-gradient/#syntaksys-->
    */


.imgcontainer {
    min-width:90px; 
    max-width: 100px;
}


/* Надписи на горі */
.navbar-nav {
    display: flex;
    width: 100%;
}

.nav-item {
    flex-grow: 1; /* Розтягує кожен елемент рівномірно */
    text-align: center; /* Вирівнює текст по центру */
}

.navmelody {
    font-size: 1.4em;
    margin: 20px 0px 0px 15px;
    transition: linear 0.5s;
    font-family: "Montserrat", serif;
}

.navmelody:hover {    
    color: lemonchiffon !important;
    transform: scale(1.08) translateY(-2px);
    
}

.notestaff {
    margin: 3px;
}


.notestaff-container {
    position: absolute;
    z-index: 2;
}

.notescontainer{
    font-size: 0.8em;
    border: 1px solid gray;
    background-color:lightgoldenrodyellow;
    padding: 8px;
}

    .notescontainer h3 {
        font-size: 1em ;
    }

.notebox {
    display: inline-block;
    font-size: 0.9em; 
    text-align: center;
    padding: 2px;
    height: 30px;
    margin: 5px 1px 1px 1px;    
    min-width: 35px;
    border: 1px solid gray;
    background-color: antiquewhite;
    border-radius: 5px;
    box-shadow: rgba(55,55,0,0.3) 2px 2px;
}

#degreesChart, #weightChart {
    width: 400px;
    height: 200px;
}

.outerNoteBox {
    display: inline-block;
    text-align: center;
    
}

.innerNotesContainer{
    padding: 5px;
    border: 1px solid darkred;
    background-color: rgba(255,255,200,0.9);
}

.noteanalysis {
    display: inline-block;
    background-color: lightgoldenrodyellow;
    padding: 5px;
    border: 1px solid darkred;
}


.indexcontainer {
    display: flex;
    flex-direction: row; /* За замовчуванням елементи поруч */
    justify-content: center;
    align-items: start;
    width: 25%;
}


.commoncontainer{
    height: 100%;
    margin: 0;
    padding: 0;
}


.rightcontainer {
    
    width: 80vh;
    height: 115%;
    padding: 5px;
    margin-top: 0;
    background-image: url(../images/elephantplays.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: lightgray;
}

.light-background
{
    background-color: lightgray;
}



/* Анімація м'якого пульсування світла */
@keyframes glow {
    from {
        text-shadow: 4px 4px 15px rgb(230 255 15), 0px 0px 16px rgb(255 247 11)
    }

    to {
        text-shadow: 0px 0px 12px rgb(255 50 50), 0px 0px 20px rgb(255 100 50);
    }
}

.homepagesubtitle {
    color: #5a3d1c; /* Темно-коричневий */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    font-size: 1.2em;
}


.btn-index {
    background-color: rgba(100,100,255,.8);
}

.btn-index:hover {
    background-color: rgba(120,150,255,.8);
}

.smallfont {
    font-size: 0.8em !important;
    color: darkslategrey;
}

@media (max-width: 768px) {

    .d-flex {
        flex-direction: column;
        align-items: center; /* Вирівнюємо по центру */
    }


    .w-25, .w-75 {
        width: 100% !important; /* Робимо елементи повної ширини */
    }

    .navmelody {
        margin: 20px 10px 0px 10px;
        padding-right: 0px !important;
    }

    .smallfont {
        font-size: 0.7em !important;
        color: darkslategrey;
    }
}


@media (max-width: 512px) {
    .haslo {
        min-width: 200px;
    }

    .searchfield {
        width: 200px;
    }

    .homepagetitle {
        font-size: 2em;
    }

    .title {
        font-size: 1.5em;
    }

    .navmelody,   {
        margin: 20px 0px 0px 0px;
        padding-right: 0px;

    }
}

.notka, .notka-blue {
    position: absolute;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background-image: url("/images/note-yellow.png");
    background-size: contain;
    background-position: center;
    opacity: 0.6;
    animation: float 10s infinite linear;
}

.notka-blue {
    background-image: url("/images/note.png");
    opacity: 0.3;
}

@keyframes float {
    0% {
        transform: translateX(0) translateY(0) scale(1.1) rotate(0deg);
        
    }

    100% {
        transform: translateX(var(--randomHorizontalEnd, 0)) translateY(var(--randomVerticalEnd, 0)) scale(0.4) rotate(var(--randomRotate, 0deg));
        ;
    }
}

/*<!--SEARCH PAGE -->*/

.notesinfo {
    border: 1px solid black;
    border-radius: 5px;
    background-color: lightgray;
    width: 750px;
    padding: 10px;
    margin: 10px;
}

.searchrightcontainer {
    display: inline-block;
    width: 70%;
    height: 100%
}

.searchleftcontainer {
    display: inline-block;
    height: 100%;
    width: 30%;
}

.searchcontainer {
    display: inline-flex;
    width: 100%;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: darkgray 0px 1px 10px 5px;
    padding: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 350px
}

.controlcontainer {
    display: inline-block;
    border: 0px solid grey;
    flex: 1 2 100px;
}

#pianoroll {
    position: relative;
    width: 800px;
    height: 200px;
    font-size: 0;
    padding-left: 10px;
}

.blackpianobutton {
    position: absolute;
    width: 40px;
    height: 110px;
    background: linear-gradient(black, darkslategrey);
    margin: 0;
}

.cis1 {
    top: 0px; /* Відступ зверху */
    left: 35px; /* Відступ зліва */
}

.dis1 {
    top: 0px;
    left: 90px;
}

.fis1 {
    top: 0px;
    left: 180px;
}

.gis1 {
    top: 0px;
    left: 235px;
}

.b1 {
    top: 0px;
    left: 290px;
}

.cis2 {
    top: 0px; /* Відступ зверху */
    left: 385px; /* Відступ зліва */
}

.dis2 {
    top: 0px;
    left: 440px;
}

.fis2 {
    top: 0px;
    left: 530px;
}

.gis2 {
    top: 0px;
    left: 585px;
}

.b2 {
    top: 0px;
    left: 640px;
}

.whitepianobutton {
    height: 200px;
    width: 50px;
    margin: 0;
    gap: 0px;
}

h1 {
    font-size: 1.3em;
}

p {
    font-size: 0.9em;
}