html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.bg-sky {
    background: repeating-linear-gradient(90deg, skyblue, lightblue, skyblue 66%);
}


.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;    
    width: 100%;
    height: 100%;
}

body {
    margin-bottom: 60px;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(rgba(245,255,150,.7), rgba(255,235,100,.5));
}

table{
    background-color: white;
}

.mainpage {
    height: 100%;
    background: linear-gradient(217deg, rgba(255,100,100,.8), rgba(255,100,0,0) 70.71%), 
        linear-gradient(127deg, rgba(255,255,100,.8), rgba(255,255,0,0) 70.71%), 
        linear-gradient(336deg, rgba(100,100,255,.8), rgba(255,255,255,0) 70.71%);
    margin: 0;
}
/* слід ще поексперементувати...
https://webdoky.org/uk/docs/Web/CSS/gradient/linear-gradient/#syntaksys-->
    */

.title{
    padding:50px;
    color: aliceblue;
    font-size: 7em;
    text-shadow: 3px 3px 4px violet;    

}


.notka, .notka-blue {
    position: absolute;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background-image: url("/images/note-yellow.png");
    background-size: contain; 
    background-position: center;
    opacity: 0.6;
    animation: float 10s infinite linear;
}

.notka-blue {
    background-image: url("/images/note.png");
    opacity: 0.3;
}

@keyframes float {
    0% {
        transform: translateX(0) translateY(0) scale(1.1) rotate(0deg);
    }

    100% {
        transform: translateX(var(--randomHorizontalEnd, 0)) translateY(var(--randomVerticalEnd, 0)) scale(0.4) rotate(var(--randomRotate, 0deg));
        ;
    }
}



}