@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center mainpage">
    <h1 class="display-4 title">МЕЛОДІЯ</h1>
    <p>Загальна інфо про проект</p>

    <div class="notka"></div>
    <div class="notka"></div>
    <div class="notka"></div>
    <div class="notka"></div>
    <div class="notka"></div>

    <script src="script.js"></script>
</div>


