@page
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model IndexModel
@{
    ViewData["Title"] = "Мелодія - головна";
    ViewData["BodyClass"] = "home"; // посилає клас body на _shared
    var Singerella = Model.Singerella;
}

<div class="mainpage">
    <div style="position:absolute; top:5px; left:5px; z-index:4">
    <form method="post" asp-page-handler="ChangeDesign" id="myForm" style="align-content:end">
        <input type="checkbox" asp-for="Singerella" id="singerellaCheckbox" />
        </form>
        <script src="~/js/maindesign.js"></script>
    </div>
    <!--оригінальний дизайн-->
    @if (@Singerella == false)
    {
        <div id="mainpagecommoncontainer" class="d-flex commoncontainer">
            <!-- -->
            <div id="mainpageleftcontainer" class="container flex-column justify-content-center align-items-start mt-5 w-25">
                <h3 class="homepagetitle mt-lg-5">Знайди схожу мелодію!</h3>
                <p class="homepagesubtitle">Мелодії з усього світу в одному сайті!</p>
                <!--ПОШУК-->
                <form method="post" asp-page-handler="Search" class="mt-3 w-100 d-flex align-items-stretch search-form">
                    <input asp-for="Search" type="text" class="form-control searchfield" />
                    <button type="submit" class="btn btn-index mt-2 search-button"><span class="me-2">🔍</span><span>Пошук</span></button>
                </form>
                <form method="post" asp-page-handler="AdvancedSearch" class="mt-3 w-100 d-flex search-form-notes">
                    <button type="submit" class="btn btn-index w-100 mt-2 btn-notes"><span class="me-2">🔍</span><span>Пошук по нотах</span></button>
                </form>
            </div>

            <!--кнопки входу/реєстрації-->
            <div class="d-flex flex-column align-items-end w-75 rightcontainer mt-0">

                @if (SignInManager.IsSignedIn(User))
                {
                    <div class="d-flex gap-3 m-3">
                        <a class="btn btn-light link-dark shadow" asp-area="Identity" asp-page="/Account/Users" title="Manage">
                            Ви увійшли як @User.Identity?.Name!
                        </a>

                        <form class="form-inline" method="post" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                            <button type="submit" class="btn btn-light link-dark shadow">Вийти</button>
                        </form>
                    </div>
                }
                else
                {
                    <div class="d-flex gap-3 m-3">
                        <a class="btn btn-light link-dark shadow" asp-area="Identity" asp-page="/Account/Register">Зареєструватися</a>
                        <a class="btn btn-light link-dark shadow" asp-area="Identity" asp-page="/Account/Login">Увійти</a>
                    </div>
                }
            </div>
        </div>
    }
    else
    {<!--позичений дизайн-->
        <div data-elementor-type="wp-page" data-elementor-id="22" class="elementor elementor-22">
            <section class="elementor-section elementor-top-section elementor-element elementor-element-0b3aa23 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="0b3aa23" data-element_type="section" data-settings="{&quot;jet_parallax_layout_list&quot;:[{&quot;jet_parallax_layout_image&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;_id&quot;:&quot;c352893&quot;,&quot;jet_parallax_layout_image_tablet&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;jet_parallax_layout_image_mobile&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;,&quot;size&quot;:&quot;&quot;},&quot;jet_parallax_layout_speed&quot;:{&quot;unit&quot;:&quot;%&quot;,&quot;size&quot;:50,&quot;sizes&quot;:[]},&quot;jet_parallax_layout_type&quot;:&quot;scroll&quot;,&quot;jet_parallax_layout_direction&quot;:null,&quot;jet_parallax_layout_fx_direction&quot;:null,&quot;jet_parallax_layout_z_index&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_x&quot;:50,&quot;jet_parallax_layout_bg_x_tablet&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_x_mobile&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_y&quot;:50,&quot;jet_parallax_layout_bg_y_tablet&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_y_mobile&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_size&quot;:&quot;auto&quot;,&quot;jet_parallax_layout_bg_size_tablet&quot;:&quot;&quot;,&quot;jet_parallax_layout_bg_size_mobile&quot;:&quot;&quot;,&quot;jet_parallax_layout_animation_prop&quot;:&quot;transform&quot;,&quot;jet_parallax_layout_on&quot;:[&quot;desktop&quot;,&quot;tablet&quot;]}],&quot;background_background&quot;:&quot;classic&quot;}">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-0189159" data-id="0189159" data-element_type="column">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <div class="elementor-element elementor-element-66ce06e elementor-widget elementor-widget-heading" data-id="66ce06e" data-element_type="widget" data-widget_type="heading.default">
                                <div class="elementor-widget-container">
                                    <h1 class="elementor-heading-title elementor-size-default">Поринь у світ музики</h1>
                                </div>
                            </div>
                            <div class="elementor-element elementor-element-6a6f8a3 elementor-widget elementor-widget-text-editor" data-id="6a6f8a3" data-element_type="widget" data-widget_type="text-editor.default">
                                <div class="elementor-widget-container">
                                    Перевірся на плагіат!
                                </div>
                            </div>
                            <form method="post" asp-page-handler="Search" class="mt-3 w-100 d-flex flex-row align-items-baseline">
                                <input asp-for="Search" type="text" class="form-control searchfield" />
                                <button type="submit" class="btn btn-secondary mt-2">🔍 Пошук</button>
                            </form>
                        </div>
                    </div>
                </div>
            <!--кнопки входу/реєстрації-->
            @if (SignInManager.IsSignedIn(User))
            {
                <div class="d-flex gap-3 m-3">
                    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Users" title="Manage">
                        Вітаємо, @User.Identity?.Name!
                    </a>

                    <form class="form-inline" method="post" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                        <button type="submit" class="nav-link btn btn-link text-dark">Вийти</button>
                    </form>
                </div>
            }
            else
            {
                <div class="d-flex gap-3 m-3">
                    <a class="btn btn-outline-light" asp-area="Identity" asp-page="/Account/Register" class="link-dark">Зареєструватися</a>
                    <a class="btn btn-outline-light" asp-area="Identity" asp-page="/Account/Login" class="link-dark">Увійти</a>
                </div>
            }
            </section>

            <div class="notka"></div>
            <div class="notka-blue"></div>

        </div>
    }
</div>

