@page
@model PrivacyModel
@{
    ViewData["Title"] = "Мелодія - про проєкт";
}
<div class="infocontainer">

    <h3 class="mt-4">Мета проєкту</h3>
    <p>
        Cтворення інструменту для пошуку однакових або схожих мелодій.
    </p>


    <h3 class="mt-4">Практичне використання</h3>
    <p>
        <b>Виявлення плагіату</b>  Щодня композитори продукують тисячі нових мелодій. В результаті ризик випадково повторити існуючу мелодію збільшуються, а законодавство у ссфері авторських прав пожощується. БД мелодій, коли наповниться, дозволить авторам перевірити свою мелодію на можливість збігів перед публікаціює і уникнути таким чином неприємностей.
    </p>
    <p>
        <b>Наукові дослідження</b> Музикознавці потребують точних інструментів для компаративного аналізу творів різних епох, стилів, жанрів і т.п. БД мелодій зможе оцінити, наприклад, вплив народної творчості на того чи іншого композитора, або ступінь стилістичної спорідненості певної групи авторів.
    </p>
    <h3 class="mt-4">
        Основна функціональність:
    </h3>
    <ul>
        <li>Етап 1. База даних пісень із колекцією MIDI-файлів мелодій. Можливість додавати, змінювати інформацію, видаляти записи   </li>
        <li>Етап 2. Пошук мелодії за мелодичним малюнком.</li>

        <li>Етап 3. Можливість створити midi-файл безпосередньо на сайті</li>
    </ul>
    <i class="fa-solid fa-location-dot text-danger m-2"></i>
    <i> планується:</i>

    <ul>       
        <li>Етап 4. Пошук схожих мелодій з контрольованими параметрами подібності.</li>

        <li>Етап 5. Двомовний інтерфейс.</li>
    </ul>
    <h3 class="mt-4">
        Додаткова функціональність і ресурси:
    </h3>
    <ul>
        <li>Реєстрація користувачів. Ролі - адміністратор, модератор, користувач </li>
        <li>Телеграм-бот <a href="https://t.me/MelodyNotificationBot">"Melody notification"</a> повідомляє про нові завантаження</li>
        <li><a href="https://github.com/PianoMaker/Melodies">Репозиторій GitHub</a></li>
        <li><a href="https://trello.com/w/melodiesproject">Емуляція співпраці на Trello</a></li>
    </ul>
    <i class="fa-solid fa-location-dot text-danger m-2"></i>
    <i> планується:</i>
    <ul>
        <li> Форум</li>
    </ul>

    <h3 class="mt-4">
        Інструментарій:
    </h3>
    <ul>
        <li>ASP.NET</li>
        <li>Entity Framework</li>
        <li>NAudio</li>
        <li>vexflow</li>
    </ul>

    <h3 class="mt-4">
        Технічні зауваження:
    </h3>
    <p>
        Наразі допускається завантаження midi-файлів лише з одноголосним музичним матеріалом. Багатоголосний матеріал, або midi-файли, в яких окремі події Note-On спрацьовують до настання події Note-Off попередньої ноти, призводть до некоректної роботи моделі.
        Багатотрекові midi-файли обробляються коректно, якщо кожен трек є одноголосним. В цьому разі, треки розпізнаватимуться почергово, проте їх використання виглядає недоцільним.
        Робота над обробкою цих обмежень планується. Наразі для приведення midi-файлу у відповідність із зазначеною вимогою слід користуватись зовнішнім ПЗ (midi- або нотними редакторами)
    </p>
</div>