@page
@model PrivacyModel
@{
    ViewData["Title"] = "Мелодія - про проєкт";
}
<link rel="stylesheet" href="~/css/privacy.css" />
<div class="infocontainer">

    <h3 class="mt-4 h-notes">Мета проєкту</h3>
    <p>
        Cтворення інструменту для пошуку однакових або схожих мелодій.
    </p>


    <h3 class="mt-4 h-notes">Практичне використання</h3>
    <p>
        <b>Виявлення плагіату</b>  Щодня композитори продукують тисячі нових мелодій. В результаті ризик випадково повторити існуючу мелодію збільшується, а законодавство у сфері авторських прав пожощується. БД мелодій, коли наповниться, дозволить авторам перевірити свою мелодію на можливість збігів перед публікацію і уникнути таким чином неприємностей.
    </p>
    <p>
        <b>Наукові дослідження</b> Музикознавці потребують точних інструментів для компаративного аналізу творів різних епох, стилів, жанрів і т.п. Інструменти порівняння мелодій дадуть змогу оцінити, наприклад, вплив народної творчості на того чи іншого композитора, або ступінь стилістичної спорідненості певної групи авторів.
    </p>
    <h3 class="mt-4 h-notes">
        Основна функціональність:
    </h3>
    <ul>
        <li>Етап 1. База даних пісень із колекцією MIDI-файлів мелодій. Можливість додавати, змінювати інформацію, видаляти записи   </li>
        <li>Етап 2. Пошук мелодії за мелодичним малюнком.</li>

        <li>Етап 3. Можливість створити midi-файл безпосередньо на сайті</li>
    </ul>
    <i class="fa-solid fa-location-dot text-danger m-2"></i>
    <i> планується:</i>

    <ul>
        <li>Етап 4. Пошук схожих мелодій з контрольованими параметрами подібності.</li>

        <li>Етап 5. Двомовний інтерфейс (uk, en).</li>
    </ul>
    <h3 class="mt-4 h-notes">
        Додаткова функціональність і ресурси:
    </h3>
    <ul>
        <li>Реєстрація користувачів. Ролі - адміністратор, модератор, користувач </li>
        <li>Телеграм-бот <a href="https://t.me/MelodyNotificationBot">"Melody notification"</a> повідомляє про нові завантаження</li>
        <li><a href="https://github.com/PianoMaker/Melodies">Репозиторій GitHub</a></li>
    </ul>
    <i class="fa-solid fa-location-dot text-danger m-2"></i>
@*     <i> планується:</i>
    <ul>
        <li> Форум</li>
    </ul> *@

    <h3 class="mt-4 h-notes">
        Інструментарій:
    </h3>
    <ul>
        <li>ASP.NET</li>
        <li>Entity Framework</li>
        <li>NAudio</li>
        <li>vexflow</li>
    </ul>

    <h3 class="mt-4 h-notes">
        Технічні зауваження:
    </h3>
    <p>
        Наразі допускається завантаження midi-файлів лише з одноголосним музичним матеріалом. Багатоголосний матеріал, або midi-файли, в яких окремі події Note-On спрацьовують до настання події Note-Off попередньої ноти, призводть до некоректної роботи моделі.
        Рекомендується користуватись форматом MIDI1, помічнено що MIDI0 не завжди підтримує знаки біля ключа.
        Багатотрекові midi-файли обробляються коректно, якщо кожен трек є одноголосним. В цьому разі, треки розпізнаватимуться почергово, проте їх використання виглядає недоцільним.
        Робота над обробкою цих обмежень планується. Наразі для приведення midi-файлу у відповідність із зазначеною вимогою слід користуватись зовнішнім ПЗ (midi- або нотними редакторами)
    </p>


    <h3 class="mt-4 h-notes">
        Про автора проєкту
    </h3>
    <div class="portretcontainer">
        <div class="portretinfo">
            <img src="~/images/me.png" alt="Фото автора" class="selfportret" style="max-width: 100%;" />
            <div>
                <p>
                    <strong>Андрій Бондаренко</strong>, <br />
                    випускник академії IT-STEP (2025), <br />спеціальність "Розробка програмного забезпечення".
                </p>
            </div>
        </div>
        <div class="linkouts">
            <strong>Інші проєкти автора: </strong>
            <ul>
                <li><a href="https://musicinukrainian.wordpress.com/">Світова музична класика українською</a> - колекція перекладів вокальних творів зарубіжних композиторів українсько мовою</li>
                <li><a href="https://solfegio.azurewebsites.net/">Solfegio</a> - онлайн-сервіс для вивчення сольфеджіо</li>
                @* <li><a href="https://andrijbondarenko.wordpress.com/">Персональний блог</a></li> *@
                <li class="youtube-button">
                    <a href="https://www.youtube.com/channel/UCU0uoVAp9po6P8mRpRkNhBQ" target="_blank" rel="noopener noreferrer" aria-label="YouTube канал автора">YouTube канал</a>
                </li>

            </ul>
        </div>
    </div>
    


</div>