@page
@model Melodies25.Pages.Countries.CreateModel

@{
    ViewData["Title"] = "Мелодія - додати країну";
}
<div class="infocontainer melody-width">
<h1>Додати країну</h1>
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Country.Name" class="control-label">Назва</label>
                <input asp-for="Country.Name" class="form-control" />
                <span asp-validation-for="Country.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Country.NameEn" class="control-label">Name</label>
                <input asp-for="Country.NameEn" class="form-control" />
                <span asp-validation-for="Country.NameEn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn-melody" />
            </div>
        </form>
    </div>
    <p>@Model.Msg</p>    

    <a asp-page="Index" class="btn-melody">Назад до списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
