@page
@model Melodies25.Pages.Countries.DetailsModel

@{
    ViewData["Title"] = "Мелодія - країни";
}

<h1>Інформація про країну</h1>

<div>
    <h4>Country</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Country.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Country.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Country.ID">Редагуватти</a> |
    <a asp-page="./Index">Назад до списку</a>
</div>
